$tablet: 700px;
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
  }

.modal-content {
   padding: 2em 1em;
    &__title {
        color: $primary-color;

        @include tablet {
            font-size: 1em;
        }
    }

    &__text {
        color: $text-color;
        font-size: 0.7em;
    }

    &__icon {
        color: $primary-color;
        font-size: 1em;
    }

    &__label {
        color: $primary-color;
        font-weight: bold;
        font-size: .8em;

        &__two {
            color: $primary-color;
            font-weight: bold;
            font-size: 1em;

            @include tablet {
                font-size: 0.7em;
            }
        }
    }

    &__button {
        color: $secondary-color;
        background-color: $primary-color;
        padding: 0.3em 1em;
        margin-right: 2em;
        margin-top: 3em;
        
        @include tablet {
            font-size: 1em;
        }
    }
}

input[type='radio'] {
    width:1.5em;
    height:1.5em;
    outline:none;
    
}
a:hover {
    text-decoration: none;
    color: $secondary-color;
}
    

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:100%;    
}
input[type='radio']:checked:before {
    background: $primary-color;
}

.input {
    background-color: rgba(196, 196, 196, 0.19) !important;
    border: 0.7px solid rgba(99, 99, 99, 0.35);
    box-sizing: border-box;;
}

.button {
    outline: none;
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid lighten($color: $primary-color, $amount: 50);
    padding: 0.5em  1.8em;
}


